<li [ngClass]="{ completed: todo.completed, editing: editing }" >
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todo.completed"
      (change)="handleCompleted()"
    />

    <!-- added button to handle edits + removed click function from label as per task n.2-->

    <label>{{ todo.name }}</label>
    <label *ngIf="todo.completed" id="time-tracker">Completed in: {{ todo.finishTime }}</label>

    <button
      class="edit-button"
      (click)="handleEdit()"
    ></button>

    <button
      class="destroy"
      (click)="handleRemove()"
    ></button>

  </div>
  <input
    class="edit"
    *ngIf="editing"
    [(ngModel)]="name"
    (blur)="handleBlur()"
    autofocus
  />
</li>
