@import '~todomvc-app-css/index.css';

/* all styling modifications */

/* task n.1 => move filters above list */
.toggle-all + label {
	top: -95px;
}

.filters-container {
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	font-size: 15px;
}

.filters-container ul {
    z-index: 100;
}

/* task n.2 => add button to handle editing */

.todo-list li .destroy {
	font-size: 38px;
}

.todo-list li .edit-button {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 25px;
	color: #cc9a9a;
	margin-bottom: 13px;
	transition: color 0.2s ease-out;
}

.todo-list li .edit-button:hover {
	color: #af5b5e;
}

.todo-list li .edit-button:after {
	content: '✎';
}

.todo-list li:hover .edit-button {
	display: block;
}

/* task n.5 => add task time tracking */

.todo-list li .toggle {
	margin: 12px 0 0 7px;
}

.todo-list li .toggle + label {
	background-position: top 12px left 7px;
}


.todo-list li.completed #time-tracker {
	font-size: 16px;
	padding-top: 0;
	color: #4d4d4d;
	text-decoration: none;
}